<div class="single-repository">
    <div class="repository-control">
        <span class="repository-name">{{repositoryDetails.name}}</span>
        <span class="repository-rating">
            <button class="btn">
                <svg class="octicon octicon-star mr-1" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                Star
            </button>
        </span>
    </div>
    <div class="creation-date">
        <span class="date-text">
            Updated on {{repositoryDetails.updated_at | amLocal | amDateFormat: 'LL'}}
        </span>
        <span class="rating-graph"> 
            <svg width="155" height="30">
                <defs>
                  <linearGradient id="gradient-124289805" x1="0" x2="0" y1="1" y2="0">
                      <stop offset="10%" stop-color="#c6e48b"></stop>
                      <stop offset="33%" stop-color="#7bc96f"></stop>
                      <stop offset="66%" stop-color="#239a3b"></stop>
                      <stop offset="90%" stop-color="#196127"></stop>
                  </linearGradient>
                  <mask id="sparkline-124289805" x="0" y="0" width="155" height="28">
                    <polyline transform="translate(0, 28) scale(1,-1)" points="0,2.19 3,12.32 6,3.98 9,1.0 12,7.55 15,1.0 18,14.11 21,1.0 24,2.19 27,12.32 30,6.36 33,9.94 36,2.19 39,11.13 42,5.77 45,11.13 48,2.19 51,29.0 54,24.23 57,9.34 60,5.17 63,12.91 66,4.57 69,3.98 72,3.38 75,7.55 78,9.94 81,5.17 84,1.0 87,5.77 90,3.38 93,6.36 96,2.79 99,1.0 102,3.38 105,9.94 108,14.7 111,18.87 114,13.51 117,6.36 120,5.77 123,3.98 126,12.91 129,12.91 132,6.36 135,6.96 138,1.6 141,5.17 144,3.98 147,6.36 150,1.6 153,2.79 " fill="transparent" stroke="#8cc665" stroke-width="2">
                  </polyline></mask>
                </defs>
          
                <g transform="translate(0, 2.0)">
                  <rect x="0" y="-2" width="155" height="30" style="stroke: none; fill: url(#gradient-124289805); mask: url(#sparkline-124289805)"></rect>
                </g>
              </svg>
        </span>
    </div>
</div>