@import "../../../assets/sass/app.scss";
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 16px;
    height: 50px;
    align-items: center;
    font-size: 14px;
    background-color: $gradient;
    .responsive-menu{
        display: none;
        svg{
             margin: 0px 3px;
            color: #fff;
            fill: currentColor;
        }
        
    }
    .firs-section{
        display: flex;
        width: 100%;
    }
    .logo-wrapper{
        margin-right: 20px;
        .logo{
            color: #fff;
            fill: currentColor;
            cursor: pointer;
        }
    }
    .header-links-wrapper{
        display: flex;
        width: 75%;
        align-items: center;
        .header-search{
            width: 300px;
            border: 1px solid gray;
            color: #fff;
            vertical-align: middle;
            background-color: hsla(0,0%,100%,.125);
            border: 0;
            box-shadow: none;
            min-height: 28px;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            input{
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
            }
           
        }
        .header-links{
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            display: flex;
            align-items: center;
            span{
                 padding: 0px 10px;
            }
        }
    }
    .side-menus{
        display: flex;
        align-items: center;
        .notification-links{
            color: #fff;
            fill: currentColor;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .dropdown{
            
            .dropdown-toggle{
                background-color: transparent;
                display: flex;
                align-items: center;
                cursor: pointer;
                svg{
                    margin: 0px 3px;
                    color: #fff;
                    fill: currentColor;
                }
            }
            .dropdown-toggle::after{
                color: #fff;
            }
            .sign-in-text{
                padding: 10px;
                text-align: center;
                border-bottom: 1px solid gainsboro;
            }
            .set-status{
                padding: 15px;
                text-align: center;
                border-bottom: 1px solid gainsboro;
                span{
                    padding: 5px 10px;
                    border: 1px solid gainsboro;
                    cursor: pointer;
                }
            }
        }
    }

    @include large-screen{
        .responsive-menu{
            display: block !important;
            color: #fff;
            fill: currentColor;
        }
        .firs-section{
            justify-content: center;
        }
        .header-links-wrapper{
            display: none;
            .header-links{
                
            }
        }

        .side-menus{
            .dropdown{
                display:none !important;
            }
        }
    }
}

.resposive-menu-wrapper{
    .responsive-menu-iner{
        background-color: $gradient;
        padding: 0px 30px;
        .header-search{
            width: 100%;
            color: #fff;
            vertical-align: middle;
            background-color: rgba(255, 255, 255, 0.125);
            border: 0;
            box-shadow: none;
            min-height: 28px;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            input{
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
        .resposive-menu-link{
            padding: 10px 0px;
            color: #fff;
            border-bottom: 1px solid gainsboro;
        }
    }
}