// colors

$black: #000000;
// $light_black: ;
 $green: #28a745;
// $gray: ;
$light_gary: #d1d5da;
$white:#ffffff;
$medium_gary:#586069;
$gradient: #24292e;
$button-bakground:#eff3f6;
$orange: #e36209;
$blue:#0366d6;
$ligh-white:#fafbfc;